TURSO_DATABASE_URL=libsql://riverflow-varunrampal.aws-us-west-2.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODI0Mjk4NzIsImlkIjoiMDE5ZjAxMTYtMzkwMS03OGUzLTg5ZWItZjY4ZTNhN2Y3OTA2IiwicmlkIjoiYmU1MGQ1MzYtMjFkNS00NmM0LTg5ODctYmZmODA1NDIzZTkzIn0.JHe0cZEY6xWcTi1bLxcZw53seuGr0xYGDrIE4hCQtiiAHl2-LL9cbDoCPhrW6p9fk5afQf33o1O2AeMHYwg3DA
ADMIN_PASSWORD_SHA256=0fa80a31bf7ae92c0deaeb985374cf18ffa4f8396be6979c1d22999d344dc97f
ADMIN_SESSION_SECRET=replace-with-a-long-random-string
PORT=3000
